# Ensure Windows 1252 encoding in text and localisation files and perform LF normalization
* text=auto
*.txt working-tree-encoding=cp1252 git-encoding=cp1252
*.csv working-tree-encoding=cp1252 git-encoding=cp1252
